body {
  margin: 0%;
  background-image: url("./valorantlogo.jpg");
  background-size: 100%;
  background-color: #cccccc;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.darkBody {
  background-image: url("./valorantlogo_dark.jpg");
}

a {
  color: rgb(245, 170, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
}

ul {
  list-style: none;
}

li {
  margin-left: 20px;
  color: rgb(245, 170, 255);
}

header {
  display: flex;
  position: fixed;
  top: 0%;
  right: 0%;
  width: 50%;
  background-color: rgb(0, 0, 0);
  border-bottom-left-radius: 50px;
}

.headerList {
  display: flex;
  flex-direction: row;
}

.infoDropDownMeny {
  display: none;
  background-color: black;
  flex-direction: column;
  position: absolute;
  max-width: min-content;
  padding: 2%;
  padding-left: 0%;
  margin-left: 0%;
}

.infoDropDownMenyButton:hover + .infoDropDownMeny {
  display: block;

}

.infoDropDownMeny:hover {
  display: block;
}

.infoDropDownMenyButton {
  margin: 0%;
}

.infoDropDownMenyItems {
  margin: 3%;
}

footer {
  display: flex;
  bottom: 0%;
  width: 100%;
  background-color: black;
  border-top: solid white;
  border-bottom: solid white;
}

.socials {
  display: flex;
  margin-left: 2%;
  color: white;
}

.socialList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indexContent {
  display: flex;
  flex-flow: wrap;
  margin-top: 7.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.welcomeText {
  display: flex;
  padding-left: 2.5%;
  width: 40%;
  font-size: 250%;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: rgb(88, 88, 88, 0.8);
  
}

.indexAd {
  display: flex;
  width: 35%;
  font-size: 750%;
  margin-right: 10%;
  padding-left: 7.5%;
  background-color: yellow;
}

.agentsContent {
  display: flex;
}

.allAgentsImage {
  display: flex;
  width: 45%;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.agentsImage {
  width: 20%;
  border: solid white;
  margin-bottom: 1%;
}

.agentsAd {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 750%;
  width: 35%;
  background-color: yellow;
}

.storeContent {
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  gap: 15%;
}

.storePackageContent {
  display: flex;
  flex-direction: column;
}

.standardPackage {
  display: grid;
  grid-template-columns: 3fr 7fr;
  place-items: center;
}

.premiumPackage {
  display: grid;
  grid-template-columns: 7fr 3fr;
  place-items: center;
}

.storeImage {
  color: white;
}

.storeP {
  color: white;
}

.standardImage {
  font-size: 200%;
  margin: 5%;
  background-color: rgb(146, 146, 252);
  color: black;
}

.premiumImage {
  font-size: 200%;
  margin: 5%;
  background-color: rgb(243, 14, 14);
  color: black;
}

.proImage {
  font-size: 200%;
  margin: 5%;
  background-color: rgb(0, 255, 0);
  color: black;
}

.storeAd {
  width: 35%;
  font-size: 750%;
  background-color: yellow;
}

.weaponsContent {
  display: flex;
  border: solid blue;
  gap: 1%;
}

.allWeaponsImage {
  display: flex;
  border: solid chartreuse;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
}

.sideArms {
  display: flex;
  flex-direction: column;
}

.smgAndShotguns {
  display: flex;
  flex-direction: column;
}

.rifles {
  display: flex;
  flex-direction: column;
}

.sniperAndLmgs {
  display: flex;
  flex-direction: column;
}

.weaponsImage {
  height: 90px;
  border: solid white;
  margin-bottom: 1%;
}

.aboutMeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMeImg {
  width: 35%;
  margin-top: 10%;
}

.aboutMeText {
  color: white;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
}